---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Tentang Mops.">
	<!-- About -->
		<div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
			<div class="max-w-2xl">		
			<!-- Content -->
				<div class="space-y-5 md:space-y-8">		
					<div class="space-y-3">
						<h3 class="text-2xl font-semibold dark:text-white">Tentang</h3>
					  
						<p class="text-lg text-gray-800 dark:text-neutral-200">
						  Website ini diciptakan sebagai wadah untuk mengumpulkan dan menyebarluaskan "mop" — istilah lokal Papua untuk cerita lucu, <em>banyolan</em>, 
						  atau kisah ringan yang sering diceritakan dalam dialek Papua. Mop-mop ini merupakan bagian penting dari budaya Papua, yang mencerminkan kekayaan 
						  dan keanekaragaman cara orang Papua berbagi cerita dan humor dalam kehidupan sehari-hari.
						</p>
						
						<p class="text-lg text-gray-800 dark:text-neutral-200">
						  Tujuan utama dari website ini adalah memberikan tempat yang layak bagi mop-mop untuk disimpan dan dinikmati oleh semua orang. 
						  Kami ingin memastikan bahwa setiap cerita dan <em>banyolan</em> ini tidak hilang begitu saja, 
						  tetapi dapat diakses dan dinikmati oleh banyak orang, kapan saja dan di mana saja.
						</p>
						
						<p class="text-lg text-gray-800 dark:text-neutral-200">
						  Website ini diinisiasi oleh Komunitas <a href="https://github.com/papua-opensource" target="_blank" rel="noopener noreferrer" class="underline">Papua Open Source</a>, sebuah komunitas yang bertujuan berkontribusi bagi Tanah Papua melalui teknologi dan open source. 						  
						</p>
					  </div>										  
				</div>
			</div>
			<!-- End Content -->
		</div>
  	<!-- End About -->
</MainLayout>