---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Welcome to Mops.">
	<!-- Blog Article -->
<div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
	<div class="max-w-2xl">
  
	  <!-- Content -->
	  <div class="space-y-5 md:space-y-8">
		<blockquote class="text-center p-4 sm:px-7">
		  <p class="text-xl font-medium text-gray-800 md:text-2xl md:leading-normal xl:text-2xl xl:leading-normal dark:text-neutral-200">
			Dikeluarkan dari Sekolah
		  </p>
		  <p class="mt-5 text-sm text-gray-800 dark:text-neutral-200">
			Hari ini, 16 Agustus 2024
		  </p>
		</blockquote>
  
		<div class="space-y-3 relative border-s-4 ps-4 sm:ps-6 dark:border-neutral-700">		 
		  <p class="text-sm text-gray-800 dark:text-neutral-200">
			Percakapan di sekolah antara Pak guru dengan anak murid bernama Obed
		  </p>
		</div>

		<!-- List -->
		<div class="space-y-6">
			<dl class="flex flex-col sm:flex-row gap-1">
				<dt class="min-w-20">
					<span class="block text-gray-800 dark:text-neutral-200">Pak Guru:</span>
				</dt>
				<dd>
					<!-- <p class="ps-2 text-gray-800 dark:text-neutral-200">
						Obed, kitong su cape deng ko pu nakal ini.. Memang ko pintar tapi ko nakal bikin tong cape urus ko di sekolah ini, jadi kitong mau kasih keluar ko dari sekolah!
					</p> -->
					<div class="grow max-w-[90%] md:max-w-2xl w-full space-y-3">
						<div class="bg-white border border-gray-200 rounded-lg p-4 space-y-3 dark:bg-neutral-900 dark:border-neutral-700">
							<p class="text-sm text-gray-800 dark:text-white">
								Obed, kitong su cape deng ko pu nakal ini.. Memang ko pintar tapi ko nakal bikin tong cape urus ko di sekolah ini, jadi kitong mau kasih keluar ko dari sekolah!
							</p>
						</div>
					</div>
				</dd>
			</dl>
		
			<dl class="flex flex-col sm:flex-row gap-1">
				<dt class="min-w-20">
					<span class="block text-gray-800 dark:text-neutral-200">Obed:</span>
				</dt>
				<dd>
					<!-- <p class="ps-2 text-gray-800 dark:text-neutral-200">
						Iyo sudah pa guru, tapi sebelum kam kasih keluar saya kam kasih balik sa pu uang sekolah yang sa bayar dari kelas 1 sampe kelas 6!
					</p> -->
					<div class="grow max-w-[90%] md:max-w-2xl w-full space-y-3">
						<div class="bg-white border border-gray-200 rounded-lg p-4 space-y-3 dark:bg-neutral-900 dark:border-neutral-700">
							<p class="text-sm text-gray-800 dark:text-white">
								Iyo sudah pa guru, tapi sebelum kam kasih keluar saya kam kasih balik sa pu uang sekolah yang sa bayar dari kelas 1 sampe kelas 6!
							</p>
						</div>
					</div>
				</dd>
			</dl>

			<dl class="flex flex-col sm:flex-row gap-1">
				<dt class="min-w-20">
					<span class="block text-gray-800 dark:text-neutral-200">Pak Guru:</span>
				</dt>
				<dd>
					<!-- <p class="ps-2 text-gray-800 dark:text-neutral-200">
						Iyo nanti tong kasih kembali ko pu uang, tapi ko juga musti kasih kembali nilai yang tong kasih untuk ko dari kelas 1 sampe kelas 6!
					</p> -->
					<div class="grow max-w-[90%] md:max-w-2xl w-full space-y-3">
						<div class="bg-white border border-gray-200 rounded-lg p-4 space-y-3 dark:bg-neutral-900 dark:border-neutral-700">
							<p class="text-sm text-gray-800 dark:text-white">
								Iyo nanti tong kasih kembali ko pu uang, tapi ko juga musti kasih kembali nilai yang tong kasih untuk ko dari kelas 1 sampe kelas 6!
							</p>
						</div>
					</div>
				</dd>
			</dl>

			<dl class="flex flex-col sm:flex-row gap-1">
				<dt class="min-w-20">
					<span class="block text-gray-800 dark:text-neutral-200">Obed:</span>
				</dt>
				<dd>
					<!-- <p class="ps-2 text-gray-800 dark:text-neutral-200">
						Iyo nanti sa kasih kembali raport itu untuk kamu..
					</p> -->
					<div class="grow max-w-[90%] md:max-w-2xl w-full space-y-3">
						<div class="bg-white border border-gray-200 rounded-lg p-4 space-y-3 dark:bg-neutral-900 dark:border-neutral-700">
							<p class="text-sm text-gray-800 dark:text-white">
								Iyo nanti sa kasih kembali raport itu untuk kamu..
							</p>
						</div>
					</div>
				</dd>
			</dl>

			<div class="space-y-3 relative border-s-4 ps-4 sm:ps-6 dark:border-neutral-700">		 
				<p class="text-sm text-gray-800 dark:text-neutral-200">
					Pak guru de ganas, jadi de langsung jawab obed begini
				</p>
			</div>

			<dl class="flex flex-col sm:flex-row gap-1">
				<dt class="min-w-20">
					<span class="block text-gray-800 dark:text-neutral-200">Pak Guru:</span>
				</dt>
				<dd>
					<!-- <p class="ps-2 text-gray-800 dark:text-neutral-200">
						Bah Obed ko ini tinggal jawab sa trus.. kalau begitu Obed ko kasih kembali ilmu yang tong su kasih untuk ko!
					</p> -->
					<div class="grow max-w-[90%] md:max-w-2xl w-full space-y-3">
						<div class="bg-white border border-gray-200 rounded-lg p-4 space-y-3 dark:bg-neutral-900 dark:border-neutral-700">
							<p class="text-sm text-gray-800 dark:text-white">
								Bah Obed ko ini tinggal jawab sa trus.. kalau begitu Obed ko kasih kembali ilmu yang tong su kasih untuk ko!
							</p>
						</div>
					</div>
				</dd>
			</dl>

			<div class="space-y-3 relative border-s-4 ps-4 sm:ps-6 dark:border-neutral-700">		   
				<p class="text-sm text-gray-800 dark:text-neutral-200">
					Langsung obeth bilang ke pak guru
				</p>
			</div>

			<dl class="flex flex-col sm:flex-row gap-1">
				<dt class="min-w-20">
					<span class="block text-gray-800 dark:text-neutral-200">Obed:</span>
				</dt>
				<dd>
					<!-- <p class="ps-2 text-gray-800 dark:text-neutral-200">
						Adooh Pak Guru kalau yang itu memang sa tra bisa kasih kembali, tapi sa akan coba untuk MELUPAKANNYA.. hehehehe..
					</p> -->
					<div class="grow max-w-[90%] md:max-w-2xl w-full space-y-3">
						<div class="bg-white border border-gray-200 rounded-lg p-4 space-y-3 dark:bg-neutral-900 dark:border-neutral-700">
							<p class="text-sm text-gray-800 dark:text-white">
								Adooh Pak Guru kalau yang itu memang sa tra bisa kasih kembali, tapi sa akan coba untuk MELUPAKANNYA.. hehehehe..
							</p>
						</div>
					</div>
				</dd>
			</dl>
		</div>
		<!-- End List -->
	  </div>
	  <!-- End Content -->	   

	  <!-- Card -->
	<div class="mt-12 text-right">
		<a class="py-2 px-4 inline-flex items-center gap-x-1 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-600 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" href="#">
			Baca yang Lain
		<svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
		</a>
	</div>
	<!-- End Card -->
	</div>
  </div>
  <!-- End Blog Article -->
</MainLayout>