---
import MainLayout from '../../layouts/MainLayout.astro';
import { StoryService } from "../../lib/mops";

const storyService = new StoryService();

// Tunggu hingga cerita diambil
await storyService.fetchStories();

const allStories = storyService.getAllStories();
---

<MainLayout title="Daftar cerita Mops.">
	<div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
		<div class="max-w-2xl">
			<!-- List Mops -->
				<!-- Title -->
				<div class="max-w-2xl mx-auto mb-10 lg:mb-14">
					<h2 class="text-xl font-medium text-gray-800 md:text-2xl md:leading-normal xl:text-2xl xl:leading-normal dark:text-neutral-200">
						Kumpulan cerita MOP
					</h2>
				</div>
				<!-- End Title -->
			
				<div class="max-w-2xl mx-auto divide-y divide-gray-200 dark:divide-neutral-700">
					{
						allStories.map(story => (
						<div class="py-8 first:pt-0 last:pb-0">
							<div class="flex gap-x-5">
								<div class="grow">
									<a href={`${story.slug}/`} class="md:text-lg font-semibold text-gray-800 hover:underline dark:text-neutral-200">
										{story.title}
									</a>
									<p class="mt-1 text-gray-500 dark:text-neutral-500">
										{story.description}
									</p>
								</div>
							</div>
						</div>
						))
					}
				</div>
			<!-- End List Mops -->
		</div>
	</div>
</MainLayout>